@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
#header {
	font-size: 1.07em;
	margin-right: 3em;
	margin-left: 3em;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	padding-right: 2.5em;
	padding-left: 2.5em;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	background-color: #fde0ca;
	color: #322f2f;
}
h2 {
	font-size: 1.8em;
	font-family: 'Roboto Condensed', sans-serif;
	color: #322f2f;
	background-color: #fab280;
	text-align: left;
	margin-right: 30%;
	margin-left: 1.8em;
	padding-left: 0.5em;
	text-decoration: none;
}
p {
	font-size: 1.07em;
	font-family: 'Roboto Condensed', sans-serif;
	color: #322f2f;
	text-align: left;
	margin-left: 3em;
	margin-right: 15%;
}
li a {
	font-size: 1.1em;
	color: #322f2f;
	padding: 0.5em 0.25em;
	text-decoration: none;
	background-color: #f0863c;
	overflow: hidden;
}
li a:hover {
	color: ivory;
}
#navbar {
	font-size: 1.1em;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: #322f2f;
	list-style-type: none;
	padding: 0;
	text-decoration: none;
	margin-left: 2em;
	margin-right: 2em;
}
ul, li, li a {
	display: inline-block;
}
hr {
	margin-left: 3em;
	margin-right: 30%;
}
html {
	scroll-behavior: smooth;
	background-color: #fffbf8;
}