h2 {
	font-family: Abril Fatface;
	font-size: 3em;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}
h4 {
	font-family: Abril Fatface;
	font-size: 2.2em;
	text-align: center;
}
p {
	font-family: Roboto Condensed, sans-serif;
	font-size: 170%;
	margin-left: 17%;
	margin-right: 17%;
}
hr {
	margin-left: 30%;
	margin-right: 30%;
}
button {
	background-color: white;
	width: 5em;
	height: 2.7em;
	font-family: Roboto Condensed, sans-serif;
	font-size: 100%;
	border: solid;
	border-width: 1px;
	border-color: black;
	margin-bottom: 5%;
	margin-top: 1em;
}
button:hover {
	background-color: black;
	color: white;
}
section {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	line-height: 200%;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: black;
}
ul, li, li a {
	display: inline-block;
}
li a {
	font-size: 1.1em;
	color: white;
	padding: 0.5em 0.5em;
	text-decoration: none;
	background-color: #ea4977;
	overflow: hidden;
}
#heading2 {
	color: #ea4977;
}
#card1 {
	margin-bottom: 2em;
}
#card2 {
	margin-bottom: 2em;
}
#img1 {
	scale: 120%;
	height: 70%;
	width: 70%;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 2em;
}
#card1:hover, #card2:hover, #card3:hover {
	opacity: 50%;
}
#img3 {
	margin-bottom: 3em;
	margin-top: 3em;
}
#img4 {
	width: 6em;
	height: 6em;
	margin-top: 3em;
	margin-bottom: 0em;
}
#nl {
	margin-top: 2em;
	margin-bottom: 2em;
}
#cardtext1, #cardtext2, #cardtext3 {
	font-family: Roboto Condensed, sans-serif;
	font-size: 1em;
	text-align: left;
}
#cardtext3 {
	padding-bottom: 6em;
}
#card3 {
	padding-bottom: 9.6em;
	background-color: darkgray;
}
#card2 {
	padding-bottom: 3em;
}
#contact {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.07em;
	margin-left: 2em;
	margin-right: 2em;
}
li a:hover {
	background-color: white;
}
html {
	scroll-behavior: smooth;
	background-color: #fffbf8;
}